<div class="container col-lg-12">

  <div class="row">
    <p><%= comment.body %></p>

        <%= link_to 'Edit Comment', edit_comment_path(comment) %> |
        <%= link_to 'Delete Comment', comment, method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>
  <hr>

</div>
