<div class="container col-lg-12">

  <div class="row">
    <p><%= comment.body %></p>
      <% if current_user && current_user.owner_of?(comment)  %>
        <%= link_with_icon :pencil, edit_comment_path(comment), title: 'Edit Comment' %> |
        <%= link_to 'Delete Comment', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
  </div>
  <hr>

</div>
