<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<% if @comment.user == current_user %>
<%= link_to 'Edit Comment', edit_comment_path(@comment) %> |
<%= link_to 'Delete Comment', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end %>
